<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<form action="dirsfiles" method="post" th:object="${dir}">

    <p>Path:</p>
    <input type="text"  th:field="*{path}">
    <input type="submit" value="Add dir" />

    <p>Directories:</p>
    <table><tr><th>Date</th><th>Directory</th></tr>
    <tr th:each="dir : ${dirlist}">
        <td th:utext="${dir.dateTime}">dateTime</td>
        <td th:utext="${dir.path}">path</td>
    </tr>
    </table>

</form>